<template>
  <div class="post-page">
    <h1>Post</h1>
    <b-table striped :items="posts" responsive="sm"> </b-table>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios }) {
    const posts = await $axios.$get(
      "https://jsonplaceholder.typicode.com/posts"
    );
    return { posts };
  },
  data: () => {
    posts: [];
  },
};
</script>

<style scoped>
.post-page {
  width: 900;
  margin: 0 auto;
  margin-top: 30px;
}
</style>
