<template>
  <div>
    <h4>User Detail</h4>
    <div>
      <label>Age: </label>
      <b>{{ userData.age }}</b>
    </div>
    <div>
      <label>First Name: </label>
      <b>{{ userData.first_name }}</b>
    </div>
    <div>
      <label>First Name: </label>
      <b>{{ userData.last_name }}</b>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ route, params, $content }) {
    console.log("params", params);
    const data = await $content("users")
      .where({ id: parseInt(params.detail) })
      .fetch();
    const userData = data.length > 0 ? data[0] : null;
    console.log("object", userData);
    return { userData };
  },
  data: () => {
    return {
      userData: null,
    };
  },
};
</script>

<style scoped></style>
