<template>
  <div class="list-user-page">
    <h4>Danh sách user</h4>
    <b-table striped :fields="fields" :items="items" responsive="sm">
      <template #cell(id)="data">
        <nuxt-link :to="'users/' + data.item.id">View</nuxt-link>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params, error }) {
    const items = await $content("users").fetch();
    console.log("object", items);
    return { items };
  },
  data: () => {
    return {
      fields: [
        // A virtual column that doesn't exist in items
        "age",
        // A column that needs custom formatting
        { key: "first_name", label: "First Name" },
        // A regular column
        { key: "last_name", label: "Last Name" },
        // A virtual column made up from two fields
        { key: "id", label: "Action" },
      ],
      items: [],
    };
  },
};
</script>

<style scoped>
.user-page {
  width: 100%;
}
</style>
