<template>
  <div class="user-page">
    <h1>Quản lý Users</h1>
    <nuxt-child />
  </div>
</template>

<script>
export default {
};
</script>

<style scoped>
.user-page {
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}
</style>
